/* Devin "Lauren" Elder */
/* VFW Term 1212 */
/* Project 3 */
/* 12/6/2012 */

body {
	background-color: #FFF7EA;
}

h1 {
	color: #000000;
	background-color: #E8D9C9;
	font-family: Edwardian Script ITC, Noteworthy;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #A8AFB4;
}

h2 {
	font-family: Edwardian Script ITC, Noteworthy;
	font-weight: normal;
	font-size: 40px;
}

nav {
	text-align: center;
}

input[type="text"] {
	border: 1px solid black;
	padding: 5px;
	margin-left: 5px
}

ul {
	margin-top: 15px;
}

p {
	font-family: Lucida Calligraphy, Noteworthy;
	font-size: 16px
}

div {
	display: inline;
	margin-left: 13px;
	font-size: 16px;
	font-weight: bold;
}

fieldset {
	color: #000000;
	background-color: #E8D9C9;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #B2BABF;
}

legend {
	font-family: Lucida Calligraphy, Noteworthy;
	font-size: 18px;
}

li {
	font-family: Lucida Calligraphy, Noteworthy;
	font-size: 14px;
	list-style-type: none;
	margin-left: -20px;
}